In [11]:
!pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
Requirement already satisfied: click in c:\users\yagiz.tumer\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (7.0)
Requirement already satisfied: six in c:\users\yagiz.tumer\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (1.12.0)
Requirement already satisfied: requests in c:\users\yagiz.tumer\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (2.22.0)
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: future in c:\users\yagiz.tumer\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\yagiz.tumer\appdata\local\continuum\anaconda3\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\yagiz.tumer\appdata\local\continuum\anaconda3\lib\site-packages (from requests->geocoder) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\yagiz.tumer\appdata\local\continuum\anaconda3\lib\site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\yagiz.tumer\appdata\local\continuum\anaconda3\lib\site-packages (from requests->geocoder) (1.24.2)
Requirement already satisfied: decorator in c:\users\yagiz.tumer\appdata\local\continuum\anaconda3\lib\site-packages (from ratelim->geocoder) (4.4.0)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [12]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import geocoder
print("Imported!")

Imported!

In [13]:
df = pd.read_csv('toronto.csv')
df.head()

  Postalcode         Borough                            Neighborhood
0      M1A\n  Not assigned\n                                     NaN
1      M1B\n   Scarborough\n                          Malvern, Rouge
2      M1C\n   Scarborough\n  Rouge Hill, Port Union, Highland Creek
3      M1E\n   Scarborough\n       Guildwood, Morningside, West Hill
4      M1G\n   Scarborough\n                                  Woburn

In [14]:
df.head()

  Postalcode         Borough                            Neighborhood
0      M1A\n  Not assigned\n                                     NaN
1      M1B\n   Scarborough\n                          Malvern, Rouge
2      M1C\n   Scarborough\n  Rouge Hill, Port Union, Highland Creek
3      M1E\n   Scarborough\n       Guildwood, Morningside, West Hill
4      M1G\n   Scarborough\n                                  Woburn

In [15]:
df.dropna(inplace=True)

In [16]:
print(df.shape)
df.describe()

(103, 3)

       Postalcode       Borough Neighborhood
count         103           103          103
unique        103            10           99
top         M9B\n  North York\n    Downsview
freq            1            24            4

In [17]:
def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords
    
get_latilong('M4G')

[43.70941386000004, -79.36309957799995]

In [18]:
postal_codes = df['Postalcode']    
coords = [ get_latilong(postal_code) for postal_code in postal_codes.tolist() ]

In [19]:
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

In [20]:
df[df.Postalcode == 'M5G']

Empty DataFrame
Columns: [Postalcode, Borough, Neighborhood, Latitude, Longitude]
Index: []

In [21]:
df.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
1,M1B\n,Scarborough\n,"Malvern, Rouge",43.785779,-79.157368
2,M1C\n,Scarborough\n,"Rouge Hill, Port Union, Highland Creek",43.765806,-79.185284
3,M1E\n,Scarborough\n,"Guildwood, Morningside, West Hill",43.771545,-79.218135
4,M1G\n,Scarborough\n,Woburn,43.768791,-79.238813
5,M1H\n,Scarborough\n,Cedarbrae,43.744203,-79.228725

In [22]:
df.to_csv('toronto_part2.csv',index=False)